@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?azcswn');
  src:  url('fonts/icomoon.eot?azcswn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?azcswn') format('truetype'),
    url('fonts/icomoon.woff?azcswn') format('woff'),
    url('fonts/icomoon.svg?azcswn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dorksouls:before {
  content: "\e900";
}
.icon-favicon:before {
  content: "\e901";
}
.icon-boi:before {
  content: "\e902";
}
.icon-home:before {
  content: "\e903";
  font-size: 1.25em;
}

@font-face {
    font-family: 'optimusprincepsregular';
    src: url('fonts/optimusprinceps-webfont.woff2') format('woff2'),
         url('fonts/optimusprinceps-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'upheaval_tt_brkregular';
    src: url('fonts/upheavtt-webfont.woff2') format('woff2'),
         url('fonts/upheavtt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'van_helsingregular';
    src: url('fonts/van_helsing-webfont.woff2') format('woff2'),
         url('fonts/van_helsing-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'crash-a-likecrash-a-like';
    src: url('fonts/crash-a-like-webfont.woff2') format('woff2'),
         url('fonts/crash-a-like-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'diabloheavy';
    src: url('diablo_h-webfont.woff2') format('woff2'),
         url('diablo_h-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exocetlight';
    src: url('exl_____-webfont.woff2') format('woff2'),
         url('exl_____-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	background: #2b2b2b;
	color: white;
	font-family: 'Slabo 27px', serif;
	display: flex;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	flex-flow: row wrap;
}
.titill {
	font-size: 2.5em;
	text-align: center;
	margin-left: 4em;
	margin-right: 4em;
	margin-bottom: .5em;
}
.tenglar {
	order: 1;
	max-width: 20%;
	margin-left: 1.5em;
}
.innar {
	align-content: center;
	text-align: center;
	width: 160px;
}
.link {
	align-content: center;
	font-size: 1.2em;
	color: white;
	text-decoration: none;
}
.maintalk {
	padding-left: 10%;
	font-size: 1.25em;
	font-weight: normal;
}
.darksull {
	font-family: 'optimusprincepsregular';
	font-size: 1.25em;
}
.diss {
	font-family: 'van_helsingregular';
	font-size:1em;
}
.tboi {
	font-family: 'upheaval_tt_brkregular';
}
.crashed {
	font-family: 'crash-a-likecrash-a-like';
	font-size: 1.25em;
}
.allt {
	display: flex;
	padding-top: 2em;
}
.amillimynd {
	margin-bottom: 0;
}
.kassium {
	display: inline-flex;
}
.titill2 {
	font-size: 2.5em;
	text-align: center;
	margin-left: 4em;
	margin-right: 4em;
	margin-bottom: .5em;
	margin-top: 1em;
}
.nafntitill {
	text-align: center;
	font-size: 1.75em;
	border-bottom: 3px solid #4d4e4f;
	margin-left: 35%;
	margin-right: 35%;
	margin-bottom: .5em;
}
.vinstri
{
	float: left;
	padding: 1em;
}
.wikilink {
	color: lightblue;
}
.wikilink:visited {
	color: lightblue;
}
.annadallt {
	display: flex;
}
.tboititle {
	font-family: 'upheaval_tt_brkregular';
	font-weight: normal;
}
.dstitle {
	font-family: 'optimusprincepsregular';
	font-weight: normal;
	font-size: 2.5em;
}
.crashedtitle {
	font-family: 'crash-a-likecrash-a-like';
	font-weight: normal;
	font-size: 2.5em;
}
.disstitle {
	font-family: 'van_helsingregular';
	font-weight: normal;
	font-size: 2.5em;
}
.annartextititle {
	font-size: 1.25em;
}

/*----------SIDETAB----------*/

.sidetablink {
	color: black;
	text-decoration: none;
}

	
@media all and (max-width: 30em) {
	input { display: none; }
	body {
			text-align: center;
			padding-bottom: 2em;
	}
	.annadallt {
		flex-flow: wrap;
	}
	.diss {
		font-size: 125%;
	}
	.kassium {
		padding-left: 4.5em;
	}
	.allt {
		flex-flow: row wrap;
	}
	.titill2, .titill, .dstitill {
	font-size: 2.5em;
	text-align: center;
	margin-left: 2.25em;
	margin-right: 1em;
	margin-bottom: .5em;
	text-align: center;
	}
	.textinn { order: 1;
				text-align: center;
				padding-right: 0em;
				width: 28em; }
	.tenglar { order: 2;
			   margin-top: 5em; }

	label,
	.insidetab {
	  border: 1px solid #cecfd5;
	  border-radius: 6px;
	  width: 100%;
	}
	label {
	  background-color: black;
	  color: white;
	  cursor: pointer;
	  display: inline-block;
	  padding: 5px 9px;
	  transition: all .15s ease;
	  bottom: 0;
	  text-align: center;
	  width: 100%;
	  position: fixed;
	  overflow: hidden;
	}
	label:hover {
	}
	input:checked + label {
	  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
	}
	input:checked ~ .sidetab {
		position: fixed;
		bottom: 2.25em;
		left: 0;
		transition: all 1s ease;
	}
	.sidetab {
		position: fixed;
		bottom: -25em;
		left: 0;
		width: 100%;

		overflow: hidden;
		transition: all .15s ease;
		background: white;

		background:rgba(255, 255, 255, 0.875); 
	}
	input:checked ~ .sidetab {
	  max-height: 500px;
	}
	.insidetab {
	  list-style: none;
	  margin: 0px 0 0 0;
	  padding: 0;
	  width: 100%;
	}
	.sidetablink {
	  width: 100%;
	  display: block;
	  border-bottom: 1px solid black;
	}
	.sidetablink:last-child {
	  border-bottom: 0;
	}
	.textiisidetab3 {
		border-bottom: 2px solid grey;
		padding-bottom: .5em;
		padding-top: 0;
	}
	.tenglar {
		order: 2;
		width: 100%;
	}
	.sidetab {
		flex: 1 auto;
		order: 3;
		text-align: center;
		padding: 0;
		position: bottom fixed;
	}
	.sidetablink {
		padding-top: .5em;
		color: black;
	}
	.sidetablink {
		border-bottom: 2px solid grey;
	}
	.nafntitill {
		display: inline;
		margin-left: 5em;
		margin-bottom: 4em;
	}
	.crashed {
		margin-bottom: 1em;
	}
	.homebut, .darksull, .diss, .tboi {
		padding-bottom: .5em;
	}
	.tab1 {
		border-bottom: 2px solid grey;
	}
	.maintalk2 {
		padding-top: 1em;
	}
	.maintalkspecial {
		padding-bottom: 1em;
	}
	.vinstri {
		order: 2;
		width: 100%;
		text-align: center;
	}
	.annartexti {
		order: 1;
		text-align: center;
		width: 100%;
	}
	.fullannartexti {
		width: 90%;
		padding-left: 1em 
	}
}
@media all and (min-width: 30em) and (max-width: 48em) {
	input { display: none; }
	body {
			text-align: center;
			padding-bottom: 2em;
		}
	.diss {
		font-size: 125%;
	}
	.tab1 {
		border-bottom: 2px solid grey;
	}
	.kassium {
		display: flex;
		flex-flow: wrap;
	}
	.allt {
		flex-flow: row wrap;
	}
	.titill2, .titill {
	font-size: 2.5em;
	text-align: center;
	margin-left: 2.25em;
	margin-right: 1em;
	margin-bottom: .5em;
	text-align: center;

	}
	.textinn { order: 2;
				text-align: center;
				padding-right: 0em;
				width: 28em; }
	.tenglar { order: 1;
			 }
	.tab1 {
		border-bottom: 2px solid grey;
	}
	label,
	.insidetab {
	  border: 1px solid #cecfd5;
	  border-radius: 6px;
	  width: 100%;
	}
	label {
	  background-color: black;
	  color: white;
	  cursor: pointer;
	  display: inline-block;
	  padding: 5px 9px;
	  transition: all .15s ease;
	  bottom: 0;
	  text-align: center;
	  width: 100%;
	  position: fixed;
	  overflow: hidden;
	}
	label:hover {
	}
	input:checked + label {
	  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
	}
	input:checked ~ .sidetab {
		position: fixed;
		bottom: 2.25em;
		left: 0;
		transition: all 1s ease;
	}
	.sidetab {
		position: fixed;
		bottom: -25em;
		left: 0;
		width: 100%;

		overflow: hidden;
		transition: all .15s ease;
		background: white;

		background:rgba(255, 255, 255, 0.875); 
	}
	input:checked ~ .sidetab {
	  max-height: 500px;
	}
	.insidetab {
	  list-style: none;
	  margin: 0px 0 0 0;
	  padding: 0;
	  width: 100%;
	}
	.sidetablink {
	  width: 100%;
	  display: block;
	  border-bottom: 1px solid black;
	}
	.sidetablink:last-child {
	  border-bottom: 0;
	}
	.textiisidetab3 {
		border-bottom: 2px solid grey;
		padding-bottom: .25em;
		padding-top: 0;
	}
	.tenglar {
		order: 1;
		width: 20%;
	}
	.sidetab {
		flex: 1 auto;
		order: 3;
		text-align: center;
		padding: 0;
		position: bottom fixed;
	}
	.sidetablink {
		padding-top: .25em;
		color: black;
	}
	.sidetablink {
		border-bottom: 2px solid grey;
	}
	.nafntitill {
		display: inline;
		margin-left: 5em;
		margin-bottom: 4em;
	}
	.umokkur {
		padding-top: 1em;
	}
	.crashed {
		margin-bottom: 1em;
	}
	.homebut, .darksull, .diss, .tboi {
		padding-bottom: .5em;
	}
	.fullannartexti {
		padding-right: 2em;
	}
}
@media all and (min-width: 48em) and (max-width: 60em) {
	label { display: none; }
	input { display: none; }

	.allt {
		padding-bottom: 2em;
	}
	.textinn {
		order: 2;
		max-width: 80%;
	}
	.textinn {
		padding-left: 5%;
	}
	.sidetab {
		position: fixed;
		right: 0;
		top: 0;
		padding: 1em;
		height: 100%;
		background: white;
		color: black;
		max-width: 80px;
		font-weight: bold;
		border-left: 2px solid grey;
	}
	.kassium {
		margin-right: 2em;
	}
	.insidetab {
		padding-top: 1em;
		text-align: center;
	}
	.titleisidetab {
		padding-bottom: 1em;
		font-size: 125%;
		text-align: center;
		border-bottom: 2px solid black;
	}
	.textiisidetab {
		font-size: 125%;
		padding-bottom: .25em;
		border-bottom: 1px solid black;
	}
	.textiisidetab2 {
		padding-bottom: .25em;
		padding-top: .25em;
		font-size: 1.25em;
		border-bottom: 1px solid black;
	}
	.everything {
		text-align: center;
	}
}
@media all and (min-width: 60em) {
	body {
		padding-right: 116px;
	}
	label { display: none; }
	input { display: none; }

	.allt {
		padding-bottom: 2em;
	}
	.annadallt {
		display: flex;
		flex-flow: row-reverse;
	}
	.textinn {
		order: 2;
		max-width: 80%;
	}
	.textinn {
		padding-left: 5%;
	}
	.sidetab {
		position: fixed;
		right: 0;
		top: 0;
		padding: 1em;
		height: 100%;
		background: white;
		color: black;
		max-width: 80px;
		font-weight: bold;
		border-left: 2px solid grey;
	}
	.insidetab {
		padding-top: 1em;
		text-align: center;
	}
	.titleisidetab {
		padding-bottom: 1em;
		font-size: 125%;
		text-align: center;
		border-bottom: 2px solid black;
	}
	.textiisidetab {
		font-size: 125%;
		padding-bottom: .25em;
		border-bottom: 1px solid black;
	}
	.textiisidetab2 {
		padding-bottom: .25em;
		padding-top: .25em;
		font-size: 1.25em;
		border-bottom: 1px solid black;
	}
	.dstitill {
		padding-top: .5em;
		text-align: center;
		font-size: 3em;
		width: 100%
	}
	.everything {
		display: flex;
		flex-flow: row;
		width: 100%;
	}
	.kassium2 {
		display: inline-flex;
	}
	.tenglar2 {
		padding-top: 2em;
		max-width: 100%;	
	}
	.topmynd {

	}
	.vinstrimynd {
		text-align: center;
		padding-right: 0%;
	}
	.annartexti {
		font-size: 1.2em;
	}
	.vinstri {
		order: 1;
	}
	.annartexti {
		order: 2;
		padding-right: .5em;
		padding-top: 1.5em;
	}
	.bandailink {

	}
}